<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>URLы дорого</title>
</head>
<body>
    <header>
      <a href="http://test-sergiikud.rhcloud.com">ГЛАВНАЯ</a>
      <a href="http://test-sergiikud.rhcloud.com/info">ВАЖНАЯ ИНФОРМАЦИЯ</a>
      <a href="http://test-sergiikud.rhcloud.com/sale">ПОКУПКА</a>
      <a href="http://test-sergiikud.rhcloud.com/contacts">КОНТАКТЫ</a>
    </header>
    <main>
      <h1>ЭТА СТРАНИЦА НА ЭТАПЕ РАЗРАБОТКИ И ТУТ МОГЛА БЫ БЫТЬ ВАША РЕКЛАМА</h1>
    </main>
</body>
</html>
