<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>URLы дорого</title>
</head>
<body>
    <header>
      <a href="http://test-sergiikud.rhcloud.com">ГЛАВНАЯ</a>
      <a href="http://test-sergiikud.rhcloud.com/important">ВАЖНАЯ ИНФОРМАЦИЯ</a>
      <a href="http://test-sergiikud.rhcloud.com/sale">ПОКУПКА</a>
      <a href="http://test-sergiikud.rhcloud.com/contacts">КОНТАКТЫ</a>
    </header>
    <main>
      <h1>ЭТА СТРАНИЦА НА ЭТАПЕ РАЗРАБОТКИ И ТУТ МОГЛА БЫ БЫТЬ ВАША РЕКЛАМА</h1>
      <div>
        <p>В продаже также имеются разнообразные тэги. Блочные и инлайновые. HTML5 - для любителей новинок.</p>
        <h4>АКЦИЯ</h4>
        <p>Купи открывающий тэг и получи закрывающий в подарок</p>
        <p>*под подарком подразумевается <a href="http://test-sergiikud.rhcloud.com/sale">покупка</a> за 1 доллар Соединенных Штатов Америки</p>
        <h4>А ТАКЖЕ</h4>
        <p>Продаю ветки на своем репозитории !НЕ РИЕЛТОР!</p>
      </div>
    </main>
</body>
</html>
