<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>URLы дорого</title>
</head>
<body>
    <header>
    	<a href="http://test-sergiikud.rhcloud.com">ГЛАВНАЯ</a>
    	<a href="http://test-sergiikud.rhcloud.com/important">ВАЖНАЯ ИНФОРМАЦИЯ</a>
    	<a href="http://test-sergiikud.rhcloud.com/sale">ПОКУПКА</a>
    	<a href="http://test-sergiikud.rhcloud.com/contacts">КОНТАКТЫ</a>
    </header>
    <main>
    	<h1>Срочно продам URL-ы на этом домене дорого</h1>
    	<h2>Спешите! URL-ов осталось совсем мало<h2>
		<h3>При покупке трех и более URL-ов Вы получите в подарок гарантированный приз - наш фирменный favicon.ico</h3>
		<p>*под подарком подразумевается <a href="http://test-sergiikud.rhcloud.com/sale">покупка</a> за 1 доллар Соединенных Штатов Америки</p>
    </main>
</body>
</html>
