<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>URLы дорого</title>
</head>
<body>
    <header>
      <a href="http://test-sergiikud.rhcloud.com">ГЛАВНАЯ</a>
      <a href="http://test-sergiikud.rhcloud.com/important">ВАЖНАЯ ИНФОРМАЦИЯ</a>
      <a href="http://test-sergiikud.rhcloud.com/sale">ПОКУПКА</a>
      <a href="http://test-sergiikud.rhcloud.com/contacts">КОНТАКТЫ</a>
    </header>
    <main>
      <h1>Продам капитальный гараж в г Рубежное гк Лада</h1>
      <h4>*или обменяю на гараж р-н Кировой горы</h4>
      <h4>(063) 587-44-11 <strong>Стас</strong></h4> 
    </main>
</body>
</html>
