<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>URLы дорого</title>
</head>
<body>
    <header>
      <a href="http://test-sergiikud.rhcloud.com">ГЛАВНАЯ</a>
      <a href="http://test-sergiikud.rhcloud.com/important">ВАЖНАЯ ИНФОРМАЦИЯ</a>
      <a href="http://test-sergiikud.rhcloud.com/sale">ПОКУПКА</a>
      <a href="http://test-sergiikud.rhcloud.com/contacts">КОНТАКТЫ</a>
    </header>
    <main>
      <h1>Для покупки вам необходимо</h1>
      <p>Разместить объявление или рекламу в газеты «Регион» и «Троицкий вестник». Вы можете сделать это с помощью <a href="http://region-uu.ru/anons.html">данной</a> формы</p>
      <p>Загаловок обявления должен быть таким: "Куплю урл на "test-sergiikud.rhcloud.com"</p>
      <p>Не забудьте оставить свои контакты и наш менеджер Стас свяжется с вами в ближаешее время</p>
      <h2>ИЛИ</h2>
      <p>Отправь смс с текстом: "HOCHU_SEBYE_URL_NA_TEST-SERGIIKUD.RHCLOUD.COM" на номер 6655</p>
      <p>стоимость одного СМС - 1 доллар Соединенных Штатов Америки, без учета НДС</p>
    </main>
</body>
</html>
